/*#212225
#20202e*/

.background{
    background-color: #1c1e28;
    text-align: center;
    border-radius: 15px;
    min-width: 87vw;
    min-height: 75vh;
    font-size: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-direction:column;
    height: 100vh;        
}

.dropdown {
  color: white;
  background-color: #171718;
  border: 1px solid white;
  padding: 0.7rem;
  border-radius: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}

.wrapper {
    margin-top: -0.5vh;
}

.topWrapper {
    position: absolute;
    top: 1vh;
    left: 50%;
    transform: translateX(-50%);
}

.pointsText {
    position: absolute;
    top: 17vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
}


.verbDrillContainer{
    width: 100%;
    max-width: 100vw;
}

.verbDrillBackground{
    background-color: #232431;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    position: absolute;
}

.verbDrillInput{
    padding: 8px;
    border-radius: 15px;
    color: black;
    font-size: 1.6rem;
    background-color: white;
    transition: transform 0.2s ease;
}

.verbDrillInput:hover{
    transform: scale(1.05);
}

.endButton:hover{
    box-shadow: 0 0 10px 4px rgba(195, 61, 61, 0.3);
}
