.scrollableClass{
    height: 100vh;
    overflow-y:auto;
    overflow-x:hidden;
}

.linkText{
    user-select: none;
    outline: none;
}

.endButton:hover{
    box-shadow: 0 0 10px 4px rgba(195, 61, 61, 0.3);
}